* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.btn {
  width: 200px;
  flex-basis: 50px; 
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-around;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.card {
  flex-basis: 23.5%;
  height: 23.5%;
  background-color: lightgray;
  border-radius: 10px;
}

.card:active {
  background-color: lightblue;
}

.card: {
  background-color: red;
}

